[submodule "postgresqlProject"]
	path = postgresqlProject
	url = https://github.com/Anastasy-ya/postgresqlProject.git
[submodule "history-log-users-server"]
	path = history-log-users-server
	url = https://github.com/Anastasy-ya/history-log-users-server.git
[submodule "BigDB"]
	path = BigDB
	url = https://github.com/Anastasy-ya/BigDB.git
